extends layout

block content
  h1= title

  if(toShow == null)
    h2 No instance to delete
  else
    - let appleid = toShow._id
    - let apple_name = toShow.apple_name
    - let apple_price = toShow.apple_price
    - let apple_weight = toShow.apple_weight
    - let actionid = "/resource/apples/" + appleid
    script let actionid = "#{actionid}"
    div
     div.row 
      div(class='appleAttr mr-3') apple ID is:
      div #{appleid}
     div.row
      div(class='appleAttr mr-3') apple name is:
      div #{apple_name}
     div.row
      div(class='appleAttr mr-3') apple price is:
      div #{apple_price}
     div.row
      div(class='appleAttr mr-3') apple weight is:
      div #{apple_weight}
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel
  script.
   function cancel() {
    window.location.href='/apples'
    }
  script.
    function deleteOnid() {
     console.log("starting delete")
     fetch(actionid, {
      method: 'DELETE'
     }).then((resp) => {
        return resp.json();
     }).then((body) => {
        alert("Delete succeded")
        window.location.href='/apple'
     }).catch((error) => {
        alert("Delete failed " + error )
     });
    }